.container{
    border: 2px solid blue;
    background-color: khaki;
    height: 3445px;
}
.box{
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}
#box3{
    /* relative: relative to its normal position */
    /* position: relative; */

    /* absolute: relative to its normal position */
    /* position: absolute; */
    
    /* top: 34px;
    left: 34px; */
    
    /* position: fixed;
    right: 4px;
    bottom: 2px ; */
    position: sticky;
    top: 3px;
}